.icon {
  position: fixed;
  right: 20px;
  top: 20px;
}
.demo {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #fff;
  background-image: linear-gradient(45deg, #d6d6d6 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, #d6d6d6 75%, #d6d6d6), linear-gradient(45deg, #d6d6d6 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, #d6d6d6 75%, #d6d6d6);
  background-size: 16px 16px;
  background-position: 0 0, 8px 8px;
  background-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
